#container{
    width: 120%;
}
#chee{
    float: center;
    text-align: center;
    background-color: gray;
    padding: 0;
    height:300px;
    width: 85%;
}
#che{
    height: 300px;
    float: left;
    padding: 0;
    width: 15%;
}
body{
    text-align: center;
}
.ch{
    background-color: gray;
}
#blu{
    background-color: blue;
}